<h5>Question (Write a question which is answered by the note below.):
Answer (The original information).
In the AVID system, this should be done the same day as the notes were taken.
You would also mark things that needed clarifying in the original notes and take the time to visit the lecturer or original source to get answers.</h5>