<h3>Step One</h3>
<p>Read the notes in the blue box. Then think of a question that this is the answer to.  Type your question into the box.</p>
<h3>If the answer is this:</h3>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h3>Then the question is this</h3>
 <textarea name="message" rows="10" cols="30">
The cat was playing in the garden.
</textarea> 
            <br>
            <p>Date</p>
            <input class="lonely-boxed" type="date" name="" value "" />
            <br>
<h3>In the AVID system, this should be done the same day as the notes were taken.
You would also mark things that needed clarifying in the original notes and take the time to visit the lecturer or original source to get answers.</h3>