
    <!---//Facebook button code-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo float-left">
                <a class="scrollto" href="#promo">
                    <span class="logo-title">zunthum</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-expand-md float-right" role="navigation">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
                           
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item sr-only"><a class="nav-link scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#about">Sign In</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#features">Step A</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#docs">Step B</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#license">Step C</a></li>                        
                        <li class="nav-item last"><a class="nav-link scrollto" href="#contact">Save</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
    
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">zun<span class="highlight">thum</span></h2>
            <p class="intro">A free way to memorize your notes</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="https://themes.3rdwavemedia.com/" target="_blank">Start</a>
                <a class="btn btn-cta-primary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devaid-free-bootstrap-theme-for-developers-side-projects/" target="_blank">Instructions</a>
            </div>
            <ul class="meta list-inline">
                <li class="list-inline-item"><a href="https://github.com/atom-box/quanta" target="_blank">View on GitHub</a></li>
                <li class="list-inline-item"><a href="https://github.com/atom-box/quanta/readme.md" target="_blank">Full Documentation</a></li>
                <li class="list-inline-item">Created by: <a href="http:littlefurnace.com" target="_blank">Evan Genest</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item twitter-follow"><a href="https://twitter.com/mistergenest" class="twitter-follow-button" data-show-count="false">Follow @mistergenest</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-follow-->
                    <li class="list-inline-item twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="3rdwave_themes" data-hashtags="bootstrap">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-tweet-->
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="list-inline-item github-star">
<a class="github-button" href="https://github.com/atom-box/d" data-icon="oc      <li class="list-inline-item github-follow"><!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/atom-box" aria-label="Follow @atom-box on GitHub">Follow @atom-box</a></li>                   
                </ul>
            </div>
        </div>
    </section><!--//promo-->
    
    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Zunthum?</h2>
            <p class="intro text-center">Start by taking something you would like to memorize, like notes, or an article.  Zunthum will guide you in turning it into a series of questions that summarize the main points.  It will then ask you to synthesize a paragraph that answers your series of questions.  If you sign in with an email address you will be given a chance to save your notes.</p>
            <div class="row">
                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="icon-holder">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Born in the Ivy League</h3>
                        <p>This method of studying is called 'Cornell Notes' since it was promoted by a professor at Cornell College going all the way back to the 1940s. </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="icon-holder">
                        <i class="far fa-clock"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Used by AVID</h3>
                        <p>Today this method of studying is promoted by AVID Schools, a network of over 700 public & private schools based in Sandy Ego, California.  <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome</a> icons available.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="icon-holder">
                        <i class="fas fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Make it yours</h3>
                        <p>This technique is not an orthodoxy but rather just a trick to get you to view a set of ideas in a layered, structured, timed way.  <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome</a> icons available.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="icon-holder">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Study smarter</h3>
                        <p>By giving you a simple set of steps it helps you relax and enjoy learning. </p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="icon-holder">
                        <i class="fas fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Free</h3>
                        <p>I made this for my own use.  I don't forsee a time when I will charge for it unless it consumes significant bandwith on my server.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="icon-holder">
                        <i class="fas fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Private</h3>
                        <p>This site will never sell your metadata, anonymized or not, nor your email address.  </p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
    

    
    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact Evan Genest</h2>
                <div class="author-message">                      
                    <div class="profile">
                        <img class="img-fluid" src="assets/images/ev-head-ultracloseup.jpg" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">Love remembering things?</h3>
                        <p>One trick for remembering things is to expose yourelf to them over and over, like in Cornell notes. I was converted to Cornell note-taking by the public school teachers at <a href="https://east.madison.k12.wi.us/">Madison East High School</a> .        East is an <a href="https://www2.ed.gov/pubs/ToolsforSchools/avid.html">AVID demonstration school</a> so Cornell notes are integrated into every class and every grade there. </p>
                    <!--//source-->
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li class="list-inline-item"><a href="https://twitter.com/mistergenest" target="_blank"><i class="fab fa-twitter"></i></a></li>

                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/evan-genest-b6648380" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        
                        <li class="list-inline-item"><a href="https://github.com/atom-box/" target="_blank"><i class="fab fa-github"></i></a></li>  
                        <li class="list-inline-item"><a href="http:littlefurnace.com" target="_blank"><i class="fas fa-pen-fancy"></i></a></li>                 
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
      
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Bootstrap Template designed by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> at 3rdWaveMedia.</small>
        </div><!--//container-->
    </footer><!--//footer-->ticon-star" aria-label="Star atom-box/quanta on GitHub">Star</a></li>
