
    
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">zun<span class="highlight">thum</span></h2>
            <p class="intro">A free way to memorize your notes</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="https://themes.3rdwavemedia.com/" target="_blank">Start</a>
                <a class="btn btn-cta-primary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devaid-free-bootstrap-theme-for-developers-side-projects/" target="_blank">Instructions</a>
            </div>
            <ul class="meta list-inline">
                <li class="list-inline-item"><a href="https://github.com/atom-box/quanta" target="_blank">View on GitHub</a></li>
                <li class="list-inline-item"><a href="https://github.com/atom-box/quanta/readme.md" target="_blank">Full Documentation</a></li>
                <li class="list-inline-item">Created by: <a href="http:littlefurnace.com" target="_blank">Evan Genest</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item twitter-follow"><a href="https://twitter.com/mistergenest" class="twitter-follow-button" data-show-count="false">Follow @mistergenest</a>
                    </li><!--//twitter-follow-->
                    <li class="list-inline-item twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="3rdwave_themes" data-hashtags="bootstrap">Tweet</a>
                    </li><!--//twitter-tweet-->
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="list-inline-item github-star">
<a class="github-button" href="https://github.com/atom-box/d" data-icon="oc      <li class="list-inline-item github-follow"><!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/atom-box" aria-label="Follow @atom-box on GitHub">Follow @atom-box</a></li>                   
                </ul>
            </div>
        </div>
    </section><!--//promo-->
  are integrated into every class and every grade there. </p>
                    <!--//source-->
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li class="list-inline-item"><a href="https://twitter.com/mistergenest" target="_blank"><i class="fab fa-twitter"></i></a></li>

                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/evan-genest-b6648380" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        
                        <li class="list-inline-item"><a href="https://github.com/atom-box/" target="_blank"><i class="fab fa-github"></i></a></li>  
                        <li class="list-inline-item"><a href="http:littlefurnace.com" target="_blank"><i class="fas fa-pen-fancy"></i></a></li>                 
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
      
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Bootstrap Template designed by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> at 3rdWaveMedia.</small>
        </div><!--//container-->
    </footer><!--//footer-->ticon-star" aria-label="Star atom-box/quanta on GitHub">Star</a></li>
