/*todo  write correct accessible html tags instead of divs*/


:root{
    --color1__dark-header-footer: rgb(7, 23, 53);
    --color2:  rgb(104, 94, 85);
    --color3: rgb(240, 208, 138); 
    --ash: rgb(239, 239, 244); 
    --darkGray: rgb(76, 77, 75);
    --logoWood: rgb(162, 137, 89);
    --tigersNavy: rgb(7, 23, 53);
}

html {
  font-family: sans-serif; 
  line-height: 1.15; 
}

body {
  margin: 0; 
  text-align: left;
}

button{
    margin-left:3rem
}

aside {
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.9rem;
    border-width: 0.8rem;
    border-style: dashed;
    margin: 0.5rem 2rem;
    color:  #bbb ;
    padding: 0.5rem;
    width: 10rem;
    height: 10rem;
}

.title__skinny{
/*  padding: 14px 6px 0px 6px;
  margin: 14px 6px 0px 6px;*/

    font-weight: 100;
    font-size: .8rem;
    text-indent: 2.5rem;
    line-height: 2.6rem;
    color: white;
    float: left;
}

.topnav {
  overflow: hidden;
    background-color:var(--tigersNavy);
    color:white;
  height: 75px;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 0 6px 0 6px;
  margin: auto 6px auto 6px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
}

.topnav a:hover {
  color: var(--color3);
}

.topnav a.active {
  color: white;
}


.curvy-div {
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.9rem;
    border-width: 0.8rem;
    border-style: solid;
    margin: 0.5rem 2rem;
    color:  #888 ;
    padding: 0.5rem;
    max-width: 50%;
}

.curvy-div__light-border{
    border-color:  var(--ash);
}

.curvy-div__dark-border{
    border-color:  var(--infieldGreen);
}

.curvy-div__darker-border{
    border-color:  var(--tigersNavy);
}
.article-subject {
    height:  2.6rem;
    padding: 0.3rem;
    margin: 0.1rem;
    text-align: center;
    float: left ;
}
.article-title {
    clear: left;
}
.article-button {
    width:  2.6rem;
    height:  2.6rem;
    /*border: 0.1rem transparent #0b0;*/
    padding: 0.3rem;
    margin: 0.1rem;
    text-align: center;
    float: left ;
}

.article-button:hover {
 background-color: #ddd;
}

.block{
    background-color:var(--lightGray);
    margin:1rem;
    padding:2rem
}
.navyBackground {
    background-color:var(--tigersNavy);
    color:white;
    padding:.1rem .3rem
}
.greenBackground{
    background-color:var(--infieldGreen);
    border-radius:.6rem;
    padding:.1rem .3rem
}
.greentext{
    color:var(--infieldGreen)
}

#nav-logo {
    float: left;
  height: 75px;

}
