 :root{
    --lightGray:#efeff4;
    --darkGray:#4c4d4b;
    --skyColor:#7cacff;
    --palerSky:#a5dcff;
    --infieldGreen:#34931c;
    --tigersNavy:#071735
}
button{
    margin-left:3rem
}
img{
    width:98%
}
.title__hoegarden{
    text-shadow:1px 1px 2px black,0 0 25px gray,0 0 5px black;
    font-family:monospace;
    color:white;
    font-weight:500
}
.title__skinny{
    font-weight:100;
    font-size:.8rem;
    text-indent:2.5rem;
    line-height:2.6rem
}
.elShadow{
    box-shadow:0 7px 7px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border:.1rem hidden;
    border-radius:.3rem
}
.dashboard{
    border:2px white;
    margin:.5rem 2rem;
    background-color:#444;
    color:var(--lightGray);
    padding:.5rem
}
.dashboard__text{
    margin:.3rem 1.5rem;
    color:white
}
.dashboard__data-noneditable{
    color:black;
    background-color:#777
}
.codeboard{
    border:5px dashed #bbb;
    margin:.5rem 2rem;
    background-color:#222;
    padding:.5rem
}
.codeboard__code{
    color:#aaf;
    margin:.3rem 1.5rem .3rem 1.9rem
}
.block{
    background-color:var(--lightGray);
    margin:1rem;
    padding:2rem
}
.navyBackground{
    background-color:var(--tigersNavy);
    color:white;
    padding:.1rem .3rem
}
.greenBackground{
    background-color:var(--infieldGreen);
    border-radius:.6rem;
    padding:.1rem .3rem
}
.greentext{
    color:var(--infieldGreen)
}
