 :root{
    --ash: rgb(239, 239, 244); 
    --darkGray: rgb(76, 77, 75);
    --skyColor: rgb(124, 172, 255);
    --palerSky: rgb(165, 220, 255 );
    --chopRed: #d00;
    --infieldGreen: rgb(52, 147, 28);
    --tigersNavy: rgb(7, 23, 53);
}
button{
    margin-left:3rem
}
img{
    width:98%
}
.title__hoegarden{
    text-shadow:1px 1px 2px yellow,0 0 3px white ,0 0 55px yellow;
    font-family:monospace;
    color:red;
    font-weight:500
}
.title__skinny{
    font-weight:100;
    font-size:.8rem;
    text-indent:2.5rem;
    line-height:2.6rem
}
.curvy-div {
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.9rem;
    border-width: 0.8rem;
    border-style: solid;
    margin: 0.5rem 2rem;
    color:  #888 ;
    padding: 0.5rem;
    max-width: 50%;
}

.curvy-div__light-border{
    border-color:  var(--ash);
}

.curvy-div__dark-border{
    border-color:  var(--infieldGreen);
}

.curvy-div__darker-border{
    border-color:  var(--tigersNavy);
}

.block{
    background-color:var(--lightGray);
    margin:1rem;
    padding:2rem
}
.navyBackground{
    background-color:var(--tigersNavy);
    color:white;
    padding:.1rem .3rem
}
.greenBackground{
    background-color:var(--infieldGreen);
    border-radius:.6rem;
    padding:.1rem .3rem
}
.greentext{
    color:var(--infieldGreen)
}
