section#promo {
  height: 46rem;
}

article.tallPaul {
	min-height: 30rem;
}

textarea.border  {
	
}

.col-form-label {
	margin-top: -0.6rem;
}

article#tab-two {
	background-color: yellow;
}

div.content {
  border: 0.1rem solid white;
  /*background-color: rgba(44, 44, 44, 0.1);*/
}